X Variables = Aggregate the following values by search date/time
    videoTitleSentimentScore_pos = vader pos label for video title
    captionSentimentScore_pos = vader pos label for caption string
    viewcounts_weighted = views count / number of day since published
    like_count_weighted = like count / number of day since published
    dislike_count_weighted = dislike count / number of day since published
    like_dislike_ratio = like / (like + dislike)
    like_dislike_ratio_by_viewcounts_weighted = like dislike ration * viewcount_weight
Y Variable (Classifier) *Need to investigate %change
    Hold = 0 (Precent change 0% - 3%)
    Buy = 1 (Precent change > 3%)
    Sell = 2 ((Precent change < -3%)
        Interval of 5 days
Y Variable (Numerical)
    Future percent change (1Day)
    Future percent change (3Day)
    Future percent change (5Day)
    Future percent change (7Day)
    Future percent change (14Day)

In [3]:
import yfinance as yf

nvda = yf.Ticker("NVDA")

In [4]:
hist = nvda.history(period="max")

In [5]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1999-01-22,1.608972,1.795728,1.427005,1.508412,67867200.0,0.0,0.0
1999-01-25,1.628127,1.685590,1.508412,1.666436,12762000.0,0.0,0.0
1999-01-26,1.685590,1.719111,1.513200,1.537143,8580000.0,0.0,0.0
1999-01-27,1.541931,1.580240,1.455736,1.532354,6109200.0,0.0,0.0
1999-01-28,1.532355,1.541932,1.517989,1.527566,5688000.0,0.0,0.0
...,...,...,...,...,...,...,...
2021-02-24,564.909973,580.270020,550.239990,579.960022,11208000.0,0.0,0.0
2021-02-25,561.820007,574.989990,528.650024,532.299988,20610900.0,0.0,0.0
2021-02-26,550.099976,554.179993,534.440002,548.580017,12514600.0,0.0,0.0
2021-03-01,555.000000,557.000000,542.130005,553.669983,8802500.0,0.0,0.0
2021-03-02,556.000000,556.820007,535.849976,536.250000,6493023.0,0.0,0.0