In [1]:
# This is a function to generate response variable dataframe
# Decision rule: 
# If the change in "High" in 5 days is greater than 3%, we give it label "buy"
# If the change in "High" in 5 days is smaller than -3%, we give it label "sell"
# Otherwise, we give it label "hold
def create_response(start_date,end_date,stock_name):
    import pandas as pd
    import numpy as np
    import yfinance as yf
    # get stock info
    data = yf.download(stock_name, start=start_date, end=end_date).asfreq('D')
    # create percentage dict
    percent_dict = {}
    for i in range(len(data)-5):
        cur_high = data.iloc[i,:]['High']
        future_high = data.iloc[i+5,:]['High']
        percent_dict[data.index[i]] = (future_high -cur_high)/cur_high
    response_df = pd.DataFrame.from_dict(percent_dict, orient='index',columns=['percent_change'])
    # Decsion rule
    bins = [-(np.inf), -0.03, 0.03, np.inf]
    names = ['sell', 'hold', 'buy']
    response_df['action'] = pd.cut(response_df['percent_change'], bins, labels=names)
    response_df = response_df.reset_index()
    return response_df

In [2]:
create_response("2020-10-02", "2021-02-20","NVDA")

[*********************100%***********************]  1 of 1 completed

        index  percent_change action
0  2020-10-02        0.022541   hold
1  2020-10-05        0.051505    buy
2  2020-10-06        0.014602   hold
3  2020-10-07        0.015829   hold
4  2020-10-08       -0.005591   hold
..        ...             ...    ...
86 2021-02-05        0.113123    buy
87 2021-02-08        0.062095    buy
88 2021-02-09        0.043903    buy
89 2021-02-10       -0.002130   hold
90 2021-02-11       -0.006237   hold

[91 rows x 3 columns]

In [5]:
import yfinance as yf
data = yf.download("NVDA", start="2020-10-02", end="2021-02-20")
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-10-02,529.000000,540.780029,522.039978,522.489990,522.335693,13812400
2020-10-05,529.440002,545.770020,528.909973,545.700012,545.538818,11995500
2020-10-06,553.200012,565.679993,546.599976,549.460022,549.297729,19610500
2020-10-07,559.989990,564.770020,554.539978,558.559998,558.395020,10452100
2020-10-08,563.000000,563.380005,550.320007,553.549988,553.386475,9472500
...,...,...,...,...,...,...
2021-02-12,602.000000,611.650024,591.000000,598.450012,598.450012,9356800
2021-02-16,602.570007,614.900024,598.000000,613.210022,613.210022,8049000
2021-02-17,606.840027,608.940002,591.200012,596.239990,596.239990,6868900
2021-02-18,589.159973,594.929993,583.000000,593.159973,593.159973,5846700
2021-02-19,600.979980,607.080017,593.869995,597.059998,597.059998,6793100

In [9]:
d1 = data.asfreq('D')

In [10]:
d1

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-10-02,529.000000,540.780029,522.039978,522.489990,522.335693,13812400.0
2020-10-03,NaN,NaN,NaN,NaN,NaN,NaN
2020-10-04,NaN,NaN,NaN,NaN,NaN,NaN
2020-10-05,529.440002,545.770020,528.909973,545.700012,545.538818,11995500.0
2020-10-06,553.200012,565.679993,546.599976,549.460022,549.297729,19610500.0
...,...,...,...,...,...,...
2021-02-15,NaN,NaN,NaN,NaN,NaN,NaN
2021-02-16,602.570007,614.900024,598.000000,613.210022,613.210022,8049000.0
2021-02-17,606.840027,608.940002,591.200012,596.239990,596.239990,6868900.0
2021-02-18,589.159973,594.929993,583.000000,593.159973,593.159973,5846700.0
2021-02-19,600.979980,607.080017,593.869995,597.059998,597.059998,6793100.0

In [12]:
d1.fillna(method='ffill')

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-10-02,529.000000,540.780029,522.039978,522.489990,522.335693,13812400.0
2020-10-03,529.000000,540.780029,522.039978,522.489990,522.335693,13812400.0
2020-10-04,529.000000,540.780029,522.039978,522.489990,522.335693,13812400.0
2020-10-05,529.440002,545.770020,528.909973,545.700012,545.538818,11995500.0
2020-10-06,553.200012,565.679993,546.599976,549.460022,549.297729,19610500.0
...,...,...,...,...,...,...
2021-02-15,602.000000,611.650024,591.000000,598.450012,598.450012,9356800.0
2021-02-16,602.570007,614.900024,598.000000,613.210022,613.210022,8049000.0
2021-02-17,606.840027,608.940002,591.200012,596.239990,596.239990,6868900.0
2021-02-18,589.159973,594.929993,583.000000,593.159973,593.159973,5846700.0
2021-02-19,600.979980,607.080017,593.869995,597.059998,597.059998,6793100.0