In [1]:
# This is a function to generate response variable dataframe
# Decision rule: 
# If the change in "High" in 5 days is greater than 3%, we give it label "buy"
# If the change in "High" in 5 days is smaller than -3%, we give it label "sell"
# Otherwise, we give it label "hold
def create_response(start_date,end_date,stock_name):
    import pandas as pd
    import numpy as np
    import yfinance as yf
    # get stock info
    data = yf.download(stock_name, start=start_date, end=end_date,interval='1h')
    # create percentage dict
    percent_dict = {}
    for i in range(len(data)-5):
        cur_high = data.iloc[i,:]['High']
        future_high = data.iloc[i+5,:]['High']
        percent_dict[data.index[i]] = (future_high -cur_high)/cur_high
    response_df = pd.DataFrame.from_dict(percent_dict, orient='index',columns=['percent_change'])
    # Decsion rule
    bins = [-(np.inf), -0.03, 0.03, np.inf]
    names = ['sell', 'hold', 'buy']
    response_df['action'] = pd.cut(response_df['percent_change'], bins, labels=names)
    response_df = response_df.reset_index()
    return response_df

In [2]:
nvda = create_response("2020-10-02", "2021-03-19","NVDA")

[*********************100%***********************]  1 of 1 completed

In [3]:
import yfinance as yf
data = yf.download("NVDA", start="2020-10-02", end="2021-03-23",interval='60m')

[*********************100%***********************]  1 of 1 completed

In [4]:
data

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2020-10-02 09:30:00-04:00,529.000000,540.780029,526.450012,539.716492,539.716492,3628705
2020-10-02 10:30:00-04:00,539.695007,539.695007,533.000000,533.037476,533.037476,1633426
2020-10-02 11:30:00-04:00,533.020020,533.674988,525.099976,531.130676,531.130676,2433366
2020-10-02 12:30:00-04:00,531.131287,533.030518,527.140015,529.344971,529.344971,1155026
2020-10-02 13:30:00-04:00,529.250000,530.919922,526.580078,528.530701,528.530701,1149368
...,...,...,...,...,...,...
2021-03-22 11:30:00-04:00,529.250000,534.609985,528.489990,533.679504,533.679504,1029693
2021-03-22 12:30:00-04:00,533.531006,535.330017,531.830017,533.299988,533.299988,854284
2021-03-22 13:30:00-04:00,533.429993,535.780029,532.520081,533.733887,533.733887,605610
2021-03-22 14:30:00-04:00,533.799988,534.390015,529.000000,529.097900,529.097900,771516
2021-03-22 15:30:00-04:00,529.277527,530.689880,526.590027,527.450012,527.450012,760720

In [5]:
data = data.reset_index()

In [6]:
data['Datetime'] = data['Datetime'].astype('str')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 813 entries, 0 to 812
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Datetime   813 non-null    object
 1   Open       813 non-null    float64
 2   High       813 non-null    float64
 3   Low        813 non-null    float64
 4   Close      813 non-null    float64
 5   Adj Close  813 non-null    float64
 6   Volume     813 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 44.6+ KB

In [8]:
import pandas as pd
time = []
for i, row in data.iterrows():
    time.append(row['Datetime'][:-6])

In [9]:
data['Time']=time

In [10]:
data.head(10)

,Datetime,Open,High,Low,Close,Adj Close,Volume,Time
0,2020-10-02 09:30:00-04:00,529.000000,540.780029,526.450012,539.716492,539.716492,3628705,2020-10-02 09:30:00
1,2020-10-02 10:30:00-04:00,539.695007,539.695007,533.000000,533.037476,533.037476,1633426,2020-10-02 10:30:00
2,2020-10-02 11:30:00-04:00,533.020020,533.674988,525.099976,531.130676,531.130676,2433366,2020-10-02 11:30:00
3,2020-10-02 12:30:00-04:00,531.131287,533.030518,527.140015,529.344971,529.344971,1155026,2020-10-02 12:30:00
4,2020-10-02 13:30:00-04:00,529.250000,530.919922,526.580078,528.530701,528.530701,1149368,2020-10-02 13:30:00
5,2020-10-02 14:30:00-04:00,528.520020,528.919983,524.229980,525.424316,525.424316,1645055,2020-10-02 14:30:00
6,2020-10-02 15:30:00-04:00,525.500000,527.609985,522.039978,522.479980,522.479980,1304019,2020-10-02 15:30:00
7,2020-10-05 09:30:00-04:00,529.440002,543.417419,528.910583,542.130005,542.130005,3700701,2020-10-05 09:30:00
8,2020-10-05 10:30:00-04:00,542.190002,543.738220,537.729980,540.260010,540.260010,1822314,2020-10-05 10:30:00
9,2020-10-05 11:30:00-04:00,540.369995,544.830017,539.059998,543.881592,543.881592,1344379,2020-10-05 11:30:00

In [11]:
data['Time'] = pd.to_datetime(data['Time'])

In [12]:
data.drop(['Datetime','High','Low','Adj Close', 'Volume'],axis=1,inplace=True)

In [13]:
cols = ['Time','Open','Close']
data=data[cols]

In [14]:
data.set_index('Time')

                           Open       Close
Time
2020-10-02 09:30:00  529.000000  539.716492
2020-10-02 10:30:00  539.695007  533.037476
2020-10-02 11:30:00  533.020020  531.130676
2020-10-02 12:30:00  531.131287  529.344971
2020-10-02 13:30:00  529.250000  528.530701
...                         ...         ...
2021-03-22 11:30:00  529.250000  533.679504
2021-03-22 12:30:00  533.531006  533.299988
2021-03-22 13:30:00  533.429993  533.733887
2021-03-22 14:30:00  533.799988  529.097900
2021-03-22 15:30:00  529.277527  527.450012

[813 rows x 2 columns]

In [15]:
data.iloc[260:290,:]

                   Time        Open       Close
260 2020-11-24 10:30:00  517.750000  522.039673
261 2020-11-24 11:30:00  522.104980  519.109802
262 2020-11-24 12:30:00  519.094971  519.035095
263 2020-11-24 13:30:00  519.070007  519.880005
264 2020-11-24 14:30:00  519.950012  519.489990
265 2020-11-24 15:30:00  519.500000  518.359985
266 2020-11-25 09:30:00  521.299988  525.492798
267 2020-11-25 10:30:00  525.549988  528.710022
268 2020-11-25 11:30:00  528.716187  526.140015
269 2020-11-25 12:30:00  526.081604  529.080017
270 2020-11-25 13:30:00  529.000000  529.299988
271 2020-11-25 14:30:00  529.500000  530.150024
272 2020-11-25 15:30:00  530.200012  529.400024
273 2020-11-27 09:30:00  535.000000  533.849976
274 2020-11-27 10:30:00  533.849976  532.257629
275 2020-11-27 11:30:00  532.270020  529.994995
276 2020-11-27 13:00:00  530.125000  530.700012
277 2020-11-30 09:30:00  531.250000  526.570007
278 2020-11-30 10:30:00  526.500000  523.750000
279 2020-11-30 11:30:00  523.820007  527.244995
280 2020-11-30 12:30:00  527.367493  528.815186
281 2020-11-30 13:30:00  529.039978  529.770020
282 2020-11-30 14:30:00  529.770020  531.099976
283 2020-11-30 15:30:00  531.150024  536.419983
284 2020-12-01 09:30:00  538.031311  532.783203
285 2020-12-01 10:30:00  532.715576  536.474976
286 2020-12-01 11:30:00  536.489990  538.429016
287 2020-12-01 12:30:00  538.452881  536.960388
288 2020-12-01 13:30:00  537.059082  536.809998
289 2020-12-01 14:30:00  536.609985  537.234985

In [16]:
time_open = dict(zip(data.Time,data.Open))
time_close = dict(zip(data.Time,data.Close))

In [17]:
Time_complete = [data.Time[0]]
start = data.Time[0]
end = data.Time[812]
from datetime import datetime, timedelta
while start < end:
    ele = start + timedelta(hours=1)
    Time_complete.append(ele)
    start = ele

In [18]:
df_time = pd.DataFrame(Time_complete,columns=['Time'])

In [19]:
weekday_lst = []
for i,row in df_time.iterrows():
    cur = row['Time']
    weekday_lst.append(cur.weekday())

In [20]:
df_time['weekday'] = weekday_lst

In [21]:
df_time.loc[1328,:]

Time       2020-11-26 17:30:00
weekday                      3
Name: 1328, dtype: object

In [22]:
price = []
from datetime import datetime, timedelta
for i,row in df_time.iterrows():
    cur = row['Time']
    day = row['weekday']
    if cur in time_open:
        price.append(time_open[cur])
    elif ("16:30:00" in str(cur) ) :
        cur -= timedelta(hours=1)
        if cur in time_close:
            price.append(time_close[cur])
        else:
            price.append(None)
            
    else:
        price.append(None)

In [23]:
df_time['price'] = price

In [24]:
price[:48]

[529.0,
 539.6950073242188,
 533.02001953125,
 531.1312866210938,
 529.25,
 528.52001953125,
 525.5,
 522.47998046875,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [25]:
df_time = df_time.fillna(method='ffill')

In [26]:
df_time

                    Time  weekday       price
0    2020-10-02 09:30:00        4  529.000000
1    2020-10-02 10:30:00        4  539.695007
2    2020-10-02 11:30:00        4  533.020020
3    2020-10-02 12:30:00        4  531.131287
4    2020-10-02 13:30:00        4  529.250000
...                  ...      ...         ...
4106 2021-03-22 11:30:00        0  529.250000
4107 2021-03-22 12:30:00        0  533.531006
4108 2021-03-22 13:30:00        0  533.429993
4109 2021-03-22 14:30:00        0  533.799988
4110 2021-03-22 15:30:00        0  529.277527

[4111 rows x 3 columns]

In [27]:
df_time.head(20)

                  Time  weekday       price
0  2020-10-02 09:30:00        4  529.000000
1  2020-10-02 10:30:00        4  539.695007
2  2020-10-02 11:30:00        4  533.020020
3  2020-10-02 12:30:00        4  531.131287
4  2020-10-02 13:30:00        4  529.250000
5  2020-10-02 14:30:00        4  528.520020
6  2020-10-02 15:30:00        4  525.500000
7  2020-10-02 16:30:00        4  522.479980
8  2020-10-02 17:30:00        4  522.479980
9  2020-10-02 18:30:00        4  522.479980
10 2020-10-02 19:30:00        4  522.479980
11 2020-10-02 20:30:00        4  522.479980
12 2020-10-02 21:30:00        4  522.479980
13 2020-10-02 22:30:00        4  522.479980
14 2020-10-02 23:30:00        4  522.479980
15 2020-10-03 00:30:00        5  522.479980
16 2020-10-03 01:30:00        5  522.479980
17 2020-10-03 02:30:00        5  522.479980
18 2020-10-03 03:30:00        5  522.479980
19 2020-10-03 04:30:00        5  522.479980

In [28]:
time_price = dict(zip(df_time.Time,df_time.price))

In [29]:
future_price = []
for i, row in df_time.iterrows():
    key = row['Time']+timedelta(hours=24)
    day = row['weekday']
    if key.weekday()>4:
        key += timedelta(hours=48)
    if key in time_price:
        future_price.append(time_price[key])
    else:
        future_price.append(None)

In [30]:
df_time['future_price'] = future_price

In [31]:
df_time.loc[0,:]

Time            2020-10-02 09:30:00
weekday                           4
price                         529.0
future_price             529.440002
Name: 0, dtype: object

In [32]:
df_time.loc[72,:]

Time            2020-10-05 09:30:00
weekday                           0
price                    529.440002
future_price             553.200012
Name: 72, dtype: object

In [33]:
df_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4111 entries, 0 to 4110
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Time          4111 non-null   datetime64[ns]
 1   weekday       4111 non-null   int64
 2   price         4111 non-null   float64
 3   future_price  4055 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 128.6 KB

In [38]:
df_time.iloc[4038,:]

Time            2021-03-19 15:30:00
weekday                           4
price                    510.320007
future_price             529.277527
Name: 4038, dtype: object

In [34]:
df_time = df_time.iloc[:4039,:]

In [41]:
df_time

                    Time  weekday       price  future_price
0    2020-10-02 09:30:00        4  529.000000    529.440002
1    2020-10-02 10:30:00        4  539.695007    542.190002
2    2020-10-02 11:30:00        4  533.020020    540.369995
3    2020-10-02 12:30:00        4  531.131287    543.859985
4    2020-10-02 13:30:00        4  529.250000    543.215027
...                  ...      ...         ...           ...
4034 2021-03-19 11:30:00        4  511.410004    529.250000
4035 2021-03-19 12:30:00        4  513.000000    533.531006
4036 2021-03-19 13:30:00        4  516.320984    533.429993
4037 2021-03-19 14:30:00        4  513.929993    533.799988
4038 2021-03-19 15:30:00        4  510.320007    529.277527

[4039 rows x 4 columns]

In [35]:
df_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4039 entries, 0 to 4038
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Time          4039 non-null   datetime64[ns]
 1   weekday       4039 non-null   int64
 2   price         4039 non-null   float64
 3   future_price  4039 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 126.3 KB

In [47]:
df_time['percent_change'] = ((df_time['future_price'] / df_time['price'])-1)*100

/Users/mymacbookpro/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [48]:
df_time

                    Time  weekday       price  future_price  percent_change
0    2020-10-02 09:30:00        4  529.000000    529.440002        0.083176
1    2020-10-02 10:30:00        4  539.695007    542.190002        0.462297
2    2020-10-02 11:30:00        4  533.020020    540.369995        1.378930
3    2020-10-02 12:30:00        4  531.131287    543.859985        2.396526
4    2020-10-02 13:30:00        4  529.250000    543.215027        2.638645
...                  ...      ...         ...           ...             ...
4034 2021-03-19 11:30:00        4  511.410004    529.250000        3.488394
4035 2021-03-19 12:30:00        4  513.000000    533.531006        4.002145
4036 2021-03-19 13:30:00        4  516.320984    533.429993        3.313638
4037 2021-03-19 14:30:00        4  513.929993    533.799988        3.866284
4038 2021-03-19 15:30:00        4  510.320007    529.277527        3.714830

[4039 rows x 5 columns]

In [49]:
df_time.to_csv("./NVDA_price_1h.csv")

In [ ]:
import pandas as pd
df = pd.read_csv('NVDA_price_1h',index_col=0)
df

In [ ]:
df['Time'] = pd.to_datetime(df['Time'])

In [ ]:
df.info()

In [ ]:
df.head(15)

In [ ]:
from datetime import datetime, timedelta, date
date(2020, 10, 2) in  df['Time']

In [ ]:
df['Time'][0]

In [ ]:
date(2020, 10, 2)

In [ ]:
from datetime import datetime, timedelta
df['24_hour_later'] = df['Time'] + timedelta(hours=24)

In [ ]:
df

In [ ]:
time_price = dict(zip(df.Time,df.Open))

In [ ]:
df.iloc[0,2]

In [ ]:
df.iloc[0,2].weekday()

In [ ]:
df.iloc[0,0]

In [ ]:
df.iloc[0,0] in time_price[]

In [ ]:
future_price = []
for i, row in df.iterrows():
    key = df.iloc[i,2]
    if key.weekday()>4:
        key += timedelta(hours=48)
    if key in time_price:
        future_price.append(time_price[key])
    else:
        future_price.append(None)

In [ ]:
df.head()

In [ ]:
df['future_price'] = future_price

In [ ]:
df.head(30)

In [ ]:
df.info()